body{
    background-color: #B91450;
}
section{
    display: flex;
    justify-content: center;
}
form{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}
.box{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}
.box2{
    background-color: white;
    border-radius: 0px;
    margin-top: 20px;
    padding: 20px;
}
.box-form{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.box-submit-form{
    display: flex;
    justify-content: center;
}
.my-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.my-input{
    width: 70%;
}
.my-btn{
    color: #B91450;
    background-color: lightgrey;
    font-weight: bold;
    margin: 0 10px;
}
.my-btn:hover{
    color: #B91450;
    background-color: lightgrey;
    font-weight: bold;
    border: 1px solid #B91450;
}
.ticket{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 20px 0;
}

/* Utility classes */
.text-white{
    color: white;
}
.bg-grey{
    border: 1px solid black;
    background-color: grey;
}
.border-top-bot{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}